body{
    font-family: Arial;
    background: #f4f6f8;
    padding: 40px;
    text-align: center;
}

h2{
    color: #1e293b;
    text-align: center;

}

form input, button{
    padding: 8px;
    margin:  5px;
    text-align: center;
    
}

table{
    width: 60%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: center;
}

table, th, td {
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background: #1e40af;
    color: white;
    text-align: center;
}